<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Record 작성 폼</title>
</head>
<body>
<h1>Record 작성</h1>
<form action="/test/form" enctype="multipart/form-data" method="post">
    <div>
        <label for="title">제목:</label>
        <input id="title" name="title" required type="text">
    </div>
    <div>
        <label for="description">설명:</label>
        <textarea id="description" name="description" required></textarea>
    </div>
    <div>
        <label for="picture">파일 업로드:</label>
        <input accept="image/*" id="picture" name="picture" required type="file">
    </div>
    <button type="submit">제출</button>
</form>
</body>
</html>