<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/api/records" enctype="multipart/form-data" method="post">
    <label for="title">Title:</label>
    <input id="title" name="title" type="text"><br><br>

    <label for="description">Description:</label>
    <input id="description" name="description" type="text"><br><br>

    <label for="picture">Picture:</label>
    <input id="picture" name="picture" type="file"><br><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>