<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Record</title>
</head>
<body>
<form th:action="@{/test/form}" th:object="${recordForm}" method="post" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:value="*{title}" /><br/>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" th:value="*{description}" /><br/>
    <label for="picture">Picture:</label>
    <input type="file" id="picture" name="picture" /><br/>
    <button type="submit">Submit</button>
</form>
</body>
</html>